<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HamFAXSendTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <HamFAXSendTool.Properties.Settings>
            <setting name="COMPortSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="COMVerSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="COMSpeedSetting" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SoundCardSetting" serializeAs="String">
                <value />
            </setting>
            <setting name="UserCallSignSetting" serializeAs="String">
                <value />
            </setting>
        </HamFAXSendTool.Properties.Settings>
    </userSettings>
</configuration>